<div class="page tutorial">
  <div class="left-view" e-class="{ 'side-menu-opened': docMenuOpened }">
    <div class="header-content">
      <!-- Navegation -->
      <div class="prev">
        <span ident="prev" on:click="prevTopic(topic)"
          class="center-icon fa fa-angle-left"></span>
      </div>
      <div class="menu-btn-container">
        <div class="menu-btn" on:click="chaptersClosed = !chaptersClosed">
          <span></span>
        </div>
      </div>
      <div class="dir">
        <h5 class="current-menu" e-text="{{ topic.name }}"> Topic </h5>
      </div>
      <div class="next">
        <span ident="next" on:click="prevTopic(topic)"
          class="center-icon fa fa-angle-right"></span>
      </div>
    </div>
    <div class="body-content">
      <div class="nice-scroll content-to">
      </div>
    </div>
  </div>
  <div class="right-view">
    <code-editor wait-data="tutorial-app" data="{ options: $data }"></code-editor>
  </div>
</div>
<script>
  var bouer = this.bouer;
  var params = this.params();
  var component = this;

  function getDoc(name) {
    var editorView = component.el.querySelector('.right-view');
    var examplesView = component.el.querySelector('.left-view');
    editorView.classList.remove('error');

    function setter(content) {
      var splitted = content.split(/<!-- component:[^>]* -->/g);
      var mainContent = splitted.shift();
      var componentsNames = content.match(/<!-- component:(.*?) -->/g);

      var tabs = splitted.map(function (content, index) {
        var name = componentsNames[index].match(/<!-- component:(.*?) -->/)[1];

        return {
          content: content.trim(),
          name: name
        }
      });

      bouer.$wait.set('tutorial-app', {
        name: 'Playground',
        content: mainContent.trim(),
        type: 'expanded',
        resizable: 'y',
        tabs: tabs
      });
    }


    if (!name) return setter('<h3> Hello Champ 👋! </h3>');

    // Ajusting the selected example position
    var examplesContainer = examplesView.querySelector('.ttsamples-container');
    var activeExample = examplesContainer.querySelector('.active-item');
    if (activeExample)
      examplesContainer.scrollTop = activeExample.offsetTop - 165;

    fetch(location.origin + "/components/examples/" + name + ".html", {
      headers: { 'Content-Type': 'text/plain' }
    }).then(function (response) {
      if (!response.ok)
        throw new Error(response.statusText);
      return response.text();
    }).then(setter)
      .catch(function (err) {
        editorView.classList.add('error');
        console.error(err);
      });
  }

  this.on('mounted', function () {
    const topic = this.data.topics[0] || this.data.topics.find(function (x) {
      return x.name == name;
    });

    this.data.topic = topic;
  })

  this.on('loaded', function () {
    getDoc(params.tts);
  });

  this.on('destroyed', function () {
    // Removing the stored value
    bouer.$wait.unset('tutorial-app');
  });

  this.export({
    active: params.tts || '',
    chaptersClosed: true,
    topic: {},
    topics: [
      {
        name: 'Hello World',
        section: 'hello-world',
      }
    ],
    nextTopic: function (params) {
    },
    prevTopic: function (params) {
    },
    loadExample: function (example) {
      var editorView = component.el.querySelector('.right-view');
      var editor, url = location.href.split('?')[0] + '?ex=' + example.name;

      // Cleaning the content
      editorView.innerHTML = '<code-editor wait-data="tutorial-app" data="{ options: $data }"></code-editor>';
      editor = editorView.children[0];

      this.data.active = example.name;

      // Removing the stored value
      bouer.$wait.unset('tutorial-app');

      // Compiling the added element
      bouer.compile({ el: editor, data: this.data, context: this });

      // Getting new content
      getDoc(example.name);

      history.replaceState(example, example.text, url);
    },
  });
</script>