<div id="app">
  <input type="text" e-bind="firstName" /> <br>
  <input type="text" e-bind="lastName" /> <br>
  <input type="text" e-bind="fullName" /> <br>
  <h4> {{ fullName }} </h4>
</div>

<script>
  var app = new Bouer('#app', {
    data: {
      firstName: 'John',
      lastName: 'Doe',

      // Computed
      fullName: function $computed() {
        return {
          get: function () {
            // joining the first and last name
            return [this.data.firstName || '', this.data.lastName || '']
              .join(' ').trim()
          },
          set: function (v) {
            var value = v || '';
            var splitted = value.split(' ');

            // We use `with` to spread the properties of `this.data`
            with (this.data) {
              if (splitted.length == 1)
                return firstName = v;

              // getting the first and last name
              firstName = splitted[0];
              lastName = splitted[splitted.length - 1] || '';
            }

          }
        }
      }
    }
  });
</script>