<div id="app">

  <p>
    <b>{JSON} Placeholder</b> API Status: <b e-text="{{ status }}"></b>
  </p>

  <ul class="users">
    <li e-req="user as users/1"
        on:request="requested"
        on:response="responded"
        on:fail="failed"
        on:done="done">

      <div class="avatar">
        <span e-skeleton e-style="background-image: url(https://i.pravatar.cc/200?img={{ user.id }});"></span>
      </div>
      <div class="info">
        <div class="row"> <span e-skeleton> <b>Id: </b> {{ user.id }} </span> </div>
        <div class="row"> <span e-skeleton> <b>Name: </b> {{ user.name }} </span> </div>
        <div class="row"> <span e-skeleton> <b>Username: </b>{{ user.username }} </span> </div>
      </div>

    </li>
  </ul>

</div>

<script>
  var app = new Bouer('#app', {
    middleware: function (configure, app) {
      configure('req', function (onBind, onUpdate) {

        onBind(function (context) {

          // the type of the request: `of` or `as`
          var type = context.detail.requestType;

          // the path of the request: `users`
          var path = context.detail.requestPath;

          var baseURL = "https://jsonplaceholder.typicode.com/";

          // Requesting data from the server
          return fetch(baseURL + path, {
            headers: { 'Content-Type': "application/json" }
          }).then(function (response) {

            if (!response.ok)
              throw new Error(response.statusText);

            return response.json();
          }).then(function (json) {

            // the response must be always into a object with `data` property
            return { data: json };
          }).catch(function (error) {
            return error
          });
        });
      });
    },

    data: {
      status: '',
      // Methods
      requested: function (evt) {
        this.data.status = 'Requesting to Server...';
      },
      responded: function (evt) {
        this.data.status = 'Server Responded...';
      },
      failed: function (evt) {
        this.data.status = 'Request Failed...';
      },
      done: function (evt) {
        var _this = this;
        setTimeout(function () {
          _this.data.status = 'Ok';
        }, 2000);
      },
    }
  });
</script>

<style scoped>
  ul.users {
    list-style: none;
  }

  ul.users li {
    display: flex;
    margin: 6px 0;
    padding: 4px 2px;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    max-width: 320px;
  }

  ul.users li .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
  }

  ul.users li .avatar span {
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-color: #dfdfdf;
  }

  ul.users li .info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  ul.users li .info .row {
    flex: 1;
    display: flex;
    align-items: center;
  }

  ul.users li .info .row span {
    margin: auto 0;
    border-radius: 15px;
    margin: 1px 0;
  }
</style>