<aside class="menu" e-class="{ 'side-menu-opened': docMenuOpened }">
  <!-- Menu icon -->
  <div class="side-menu-handler">
    <div class="menu-btn-container">
      <div class="menu-btn" on:click="docMenuOpened = !docMenuOpened">
        <span></span>
      </div>
    </div>
  </div>

  <ul class="items nice-scroll">
    <li><a :href="/docs/introduction.html#intro">
        <h3> Introduction </h3>
      </a>
      <ul>
        <li> <a :href="#intro-what"> What is Bouer? </a> </li>
        <li> <a :href="#intro-quick-start"> Quick Start </a> </li>
        <li> <a :href="#intro-handling-data-display"> Handling Data Display </a> </li>
        <li> <a :href="#intro-handling-user-input"> Handling User Input </a> </li>
        <li> <a :href="#intro-conditionals"> Using Conditionals </a> </li>
        <li> <a :href="#intro-looping"> Looping an Array </a> </li>
        <li> <a :href="#intro-request"> Requesting Data from a Server </a> </li>
        <li> <a :href="#intro-form-obj-generation"> Object Generation </a> </li>
        <li> <a :href="#intro-reusing-html-code"> Reusing HTML Code </a> </li>
      </ul>
    </li>
    <li> <a :href="/docs/installation.html#installation">
        <h3> Installation </h3>
      </a>
      <ul>
        <li> <a :href="#install-local"> Locally </a> </li>
        <li> <a :href="#install-cdn"> CDN </a> </li>
        <li> <a :href="#install-npm"> NPM </a> </li>
        <li> <a :href="#install-builds"> Builds </a> </li>
      </ul>
    </li>
    <li> <a :href="/docs/instance.html#instance">
        <h3> Instance </h3>
      </a>
      <ul>
        <li> <a :href="#instance-el"> Element </a> </li>
        <li> <a :href="#instance-options"> Options </a> </li>
        <li> <a :href="#properties"> <b>Properties</b> </a>
          <ul>
            <li> <a :href="#prop-data"> Data & GlobalData </a>
              <ul>
                <li> <a :href="#prop-data-property"> Property </a> </li>
                <li> <a :href="#prop-data-computed-property"> Computed Property </a> </li>
              </ul>
            </li>
            <li> <a :href="#prop-dependencies"> Dependencies </a> </li>
            <li> <a :href="#prop-middleware"> Middleware </a> </li>
          </ul>
        </li>
      </ul>
    </li>
    <li> <a :href="/docs/delimiters.html#delimiters">
        <h3> Delimiters </h3>
      </a>
      <ul>
        <li> <a :href="#delimiter-common"> Common </a> </li>
        <li> <a :href="#delimiter-html"> HTML </a> </li>
      </ul>
    </li>
    <li> <a :href="/docs/bindings.html#bindings">
        <h3>Bindings</h3>
      </a>
      <ul>
        <li> <a :href="#binding-one-way"> One Way </a> </li>
        <li> <a :href="#binding-two-way"> <b>Two Way</b> </a>
          <ul>
            <li> <a :href="#binding-two-way-texts"> Binding Text </a> </li>
            <li> <a :href="#binding-two-way-checkables"> Binding Checkables </a> </li>
            <li> <a :href="#binding-two-way-select"> Binding Select </a> </li>
          </ul>
        </li>
      </ul>
    </li>
    <li> <a :href="/docs/directives.html#directives">
        <h3>Directives</h3>
      </a>
      <ul>
        <li> <a :href="#directive-data"> data </a> </li>
        <li> <a :href="#directive-wait-data"> wait-data </a> </li>
        <li> <a :href="#directive-e-text"> e-text </a> </li>
        <li> <a :href="#directive-e-skeleton"> e-skeleton </a> </li>
        <li> <a :href="#directive-e-def"> e-def </a> </li>
        <li> <a :href="#directive-e-if"> e-if </a> </li>
        <li> <a :href="#directive-e-show"> e-show </a> </li>
        <li> <a :href="#directive-e-for"> <b>e-for</b> </a>
          <ul>
            <li> <a :href="#directive-e-for-w-where"> e-for with `where` </a> </li>
            <li> <a :href="#directive-e-for-w-order"> e-for with `order` </a> </li>
          </ul>
        </li>
        <li> <a :href="#directive-e"> e-[attribute] </a> </li>
        <li> <a :href="#directive-e-skip"> e-skip </a> </li>
        <li> <a :href="#directive-silent"> silent (--s) </a> </li>
        <li> <a :href="#directive-ref"> ref (reference) </a> </li>
        <li> <a :href="#directive-e-req"> <b>e-req (request)</b> </a>
          <ul>
            <li> <a :href="#directive-e-req-structure"> Structure </a> </li>
            <li> <a :href="#directive-e-req-init"> Initialization </a> </li>
            <li> <a :href="#directive-e-req-w-where"> e-req with `where` </a> </li>
            <li> <a :href="#directive-e-req-w-order"> e-req with `order` </a> </li>
          </ul>
        </li>
      </ul>
    </li>
    <li> <a :href="/docs/events.html#events">
        <h3>Events</h3>
      </a>
      <ul>
        <li> <a :href="#events-standard"> Standard </a> </li>
        <li> <a :href="#events-bouer"> Bouer </a> </li>
        <li> <a :href="#events-custom"> Custom </a> </li>
        <li> <a :href="#events-modifiers"> Modifiers </a> </li>
      </ul>
    </li>
    <li> <a :href="/docs/methods.html#methods">
        <h3> Methods </h3>
      </a>
      <ul>
        <li><a :href="#method-set"> set </a></li>
        <li><a :href="#method-on"> on </a></li>
        <li><a :href="#method-off"> off </a></li>
        <li><a :href="#method-unbind"> unbind </a></li>
        <li><a :href="#method-emit"> emit </a></li>
        <li><a :href="#method-tojsObj"> toJsObj </a></li>
        <li><a :href="#method-watch"> watch </a></li>
        <li><a :href="#method-react"> react </a></li>
        <li><a :href="#method-compile"> compile </a></li>
        <li><a :href="#method-destroy"> destroy </a></li>
      </ul>
    </li>
    <li> <a :href="/docs/components.html#components">
        <h3>Components</h3>
      </a>
      <ul>
        <li> <a :href="#component-cloned"> Cloned </a> </li>
        <li> <a :href="#component-registered"> Registered </a> </li>
        <li> <a :href="#component-registering"> Registering </a> </li>
        <li> <a :href="#component-handing"> Handling Components </a> </li>
        <li> <a :href="#component-format"> Component Format </a> </li>
        <li> <a :href="#component-style"> Styles </a> </li>
        <li> <a :href="#component-root"> Root Element </a> </li>
        <li> <a :href="#component-script"> Scripts </a> </li>
        <li> <a :href="#component-exporting"> Exporting </a> </li>
        <li> <a :href="#component-structure"> Component Structure </a> </li>
        <li> <a :href="#component-data"> Component with data </a> </li>
        <li> <a :href="#component-dynamic-injection"> Dynamic Injection </a> </li>
        <li> <a :href="#component-keep-alive"> Keep Alive </a> </li>
        <li> <a :href="#component-slots"> Component with `slots` </a> </li>
        <li> <a :href="#component-custom"> Customizing Component </a> </li>
      </ul>
    </li>
    <li> <a :href="/docs/routing.html#routing">
        <h3>Routing</h3>
      </a>
      <ul>
        <li> <a :href="#routing-init"> Initialization </a> </li>
        <li> <a :href="#routing-navigation"> Navigation </a> </li>
        <li> <a :href="#routing-nesting"> Nesting Routes </a> </li>
        <li> <a :href="#routing-params"> Route Params </a> </li>
        <li> <a :href="#routing-handler"> Handler </a> </li>
        <li> <a :href="#routing-pretty-url"> HTML5 Mode / Pretty URL </a> </li>
      </ul>
    </li>
    <li> <a :href="/docs/tooling.html#tooling">
        <h3>Tooling</h3>
      </a>
      <ul>
        <li> <a :href="#tooling-code-splitting"> Code Splitting </a> </li>
        <li> <a :href="#tooling-build-tools"><b>Using Build Tools</b></a>
          <ul>
            <li> <a :href="#tooling-use-build-tools-init"> Initialization </a> </li>
            <li> <a :href="#tooling-use-build-tools-config"> Configuring </a> </li>
          </ul>
        </li>
        <li> <a :href="#tooling-ts"><b>TypeScript Support</b></a>
          <ul>
            <li> <a :href="#tooling-ts-build-tools-init"> Initialization </a> </li>
            <li> <a :href="#tooling-ts-build-tools-config"> Configuring </a> </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</aside>
<script>
  this.on('loaded', (evt) => {
    var _this = this;

    Promise.resolve(function activeMenuOnScroll(root) {
      // Store all the menu anchors do be able to find it by key
      var menu = {},
        // Store the last passed anchor on scroll
        lastPassed,
        // Store the last active anchor in menu bar
        $lastActive,
        // Menu container
        $menuContainer = root.querySelector('.documentation .menu .items'),
        // Getting all the anchors in the menu bar anchors
        $$anchors = $menuContainer.querySelectorAll('a[href]'),

        $h3s = $menuContainer.querySelectorAll('h3');

      // Mapping the anchors to the menu variable
      for (var i = 0; i < $$anchors.length; i++) {
        var anchor = $$anchors[i];
        menu[anchor.hash] = anchor;

        anchor.onclick = function (evt) {
          if (this.hash) location.href = this.href;
          _this.data.docMenuOpened = false;
        }
      }

      for (var i = 0; i < $h3s.length; i++) {
        var anchor = $h3s[i].parentNode;
        var ulContainer = anchor.nextElementSibling;
        if (!ulContainer) continue;

        var ulAnchors = ulContainer.querySelectorAll('a[href]');

        for (var k = 0; k < ulAnchors.length; k++) {
          var ulAnchor = ulAnchors[k];
          ulAnchor.href = anchor.href.split('#')[0] + ulAnchor.hash;
        }
      }

      // Listening to the scroll event
      var view = root.querySelector('.documentation .view');
      (view.onscroll = function onscroll() {
        var current, $anchors = view.querySelectorAll('a[id]');
        // Looping all the subscribed anchors
        for (var i = 0; i < $anchors.length; i++) {
          var element = $anchors[i];

          // If has class attribute, means that is a markable element
          if (element.attributes['class']) continue;

          // Getting the floor of the value
          var position = Math.floor(element.getBoundingClientRect().top);

          // Checking if it is in the range
          // (Used this way because with only one value like 60, some of them will not have this verification)
          if (position <= 90 && position >= 38) {
            current = element;
            break;
          }
        };

        if (current) {
          // Void if the current and the last are the same
          if (lastPassed && (lastPassed.id === current.id)) return;

          // Getting the menu anchor that corresponds this id
          var $current = menu['#' + current.id];
          // Void if it wasn't found
          if (!$current) return;

          // Clearing the last acgive menu
          if ($lastActive) $lastActive.className = '';

          // Marking active to the current one
          $current.className = 'active-doc-menu';

          // Fixing the position of the menu scroll
          $menuContainer.scrollTop = $current.offsetTop - 20;

          // Setting the last active one to be remembered
          $lastActive = $current;
          // Setting the last Passed one void if necessary
          lastPassed = current;

          if (location.href === $current.href)
            return;

          history.replaceState({}, location.href, $current.href)
        }
      })();
    }).then(function (executable) {
      executable(_this.bouer.el);
    });
  });
</script>