<aside class="menu" e-class="{ 'side-menu-opened': docMenuOpened }">
  <!-- Menu icon -->
  <div class="side-menu-handler">
    <div class="menu-btn-container">
      <div class="menu-btn" on:click="docMenuOpened = !docMenuOpened">
        <span></span>
      </div>
    </div>
  </div>

  <ul class="items nice-scroll">
    <li>
      <a :href="/cli/introduction.html#intro">
        <h3>Getting Started</h3>
      </a>
      <ul>
        <li> <a :href="#installation"> Installation </a> </li>
        <li> <a :href="#prerequisites"> Prerequisites </a> </li>
        <li> <a :href="#install-cli"> Installing </a> </li>
        <li> <a :href="#verify-install"> Verify the CLI </a> </li>
        <li> <a :href="#available-commands">Available Commands</a> </li>
      </ul>
    </li>
    <li>
      <a :href="/cli/create-project.html#create-project">
        <h3>Creating a Project</h3>
      </a>
      <ul>
        <li> <a :href="#create-project-blank"> Blank </a> </li>
        <li> <a :href="#create-project-templated"> Templated </a> </li>
        <li> <a :href="#install-dependecies"> Install Dependecies </a> </li>
      </ul>
    </li>
    <li>
      <a :href="/cli/create-component.html#create-component">
        <h3>Creating Components</h3>
      </a>
      <ul>
        <li> <a :href="#create-component-no-path"> No Path </a> </li>
        <li> <a :href="#create-component-with-path"> With Path </a> </li>
      </ul>
    </li>
    <li>
      <a :href="/cli/development.html#development">
        <h3>Development</h3>
      </a>
      <ul>
        <li> <a :href="#html-assets"> HTML and Assets </a> </li>
        <li> <a :href="#working-webpack"> Working with Webpack </a> </li>
      </ul>
    </li>
    <li>
      <a :href="/cli/deployment.html#deployment">
        <h3>Deployment</h3>
      </a>
      <ul>
        <li> <a :href="#deployment-dev"> Building: Dev </a> </li>
        <li> <a :href="#deployment-prod"> Building: Prod </a> </li>
      </ul>
    </li>
  </ul>
</aside>
<script>
  this.on('loaded', (evt) => {
    var _this = this;

    Promise.resolve(function activeMenuOnScroll(root) {
      // Store all the menu anchors do be able to find it by key
      var menu = {},
        // Store the last passed anchor on scroll
        lastPassed,
        // Store the last active anchor in menu bar
        $lastActive,
        // Menu container
        $menuContainer = root.querySelector('.documentation .menu .items'),
        // Getting all the anchors in the menu bar anchors
        $$anchors = $menuContainer.querySelectorAll('a[href]'),

        $h3s = $menuContainer.querySelectorAll('h3');

      // Mapping the anchors to the menu variable
      for (var i = 0; i < $$anchors.length; i++) {
        var anchor = $$anchors[i];
        menu[anchor.hash] = anchor;

        anchor.onclick = function (evt) {
          if (this.hash) location.href = this.href;
        }
      }

      for (var i = 0; i < $h3s.length; i++) {
        var anchor = $h3s[i].parentNode;
        var ulContainer = anchor.nextElementSibling;
        if (!ulContainer) continue;

        var ulAnchors = ulContainer.querySelectorAll('a[href]');

        for (var k = 0; k < ulAnchors.length; k++) {
          var ulAnchor = ulAnchors[k];
          ulAnchor.href = anchor.href.split('#')[0] + ulAnchor.hash;
        }
      }

      // Listening to the scroll event
      var view = root.querySelector('.documentation .view');
      (view.onscroll = function onscroll() {
        var current, $anchors = view.querySelectorAll('a[id]');
        // Looping all the subscribed anchors
        for (var i = 0; i < $anchors.length; i++) {
          var element = $anchors[i];

          // If has class attribute, means that is a markable element
          if (element.attributes['class']) continue;

          // Getting the floor of the value
          var position = Math.floor(element.getBoundingClientRect().top);

          // Checking if it is in the range
          // (Used this way because with only one value like 60, some of them will not have this verification)
          if (position <= 90 && position >= 38) {
            current = element;
            break;
          }
        };

        if (current) {
          // Void if the current and the last are the same
          if (lastPassed && (lastPassed.id === current.id)) return;

          // Getting the menu anchor that corresponds this id
          var $current = menu['#' + current.id];
          // Void if it wasn't found
          if (!$current) return;

          // Clearing the last acgive menu
          if ($lastActive) $lastActive.className = '';

          // Marking active to the current one
          $current.className = 'active-doc-menu';

          // Fixing the position of the menu scroll
          $menuContainer.scrollTop = $current.offsetTop - 20;

          // Setting the last active one to be remembered
          $lastActive = $current;
          // Setting the last Passed one void if necessary
          lastPassed = current;

          if (location.href === $current.href)
            return;

          history.replaceState({}, location.href, $current.href)
        }
      })();
    }).then(function (executable) {
      executable(_this.bouer.el);
    });
  });
</script>