/* @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=M+PLUS+1:wght@100;200;300;400;500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=M+PLUS+1:wght@100;200;300;400;500;600;700&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  color: var(--color-text);
  font-family: var(--font-site);
  font-weight: 400;
  outline: none;
}

a {
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
}

b {
  font-weight: 600;
}

button {
  cursor: pointer;
  font-size: 11pt;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  color: var(--color-text);
}

i {
  font-style: normal;
}

:root {
  --bouer-yellow: #F0DB4F;
  --bouer-blue: #3178c6;

  --note-green: #3bbd418a;
  --note-yellow: #f0Db4f8a;
  --note-red: #fa3a33af;

  --color-blue: #66a1c5;
  --color-yellow: #ffbe2f;
  --color-red: #f15047;
  --color-green: #3bbd42;

  --color-light-blue: lightblue;
  --color-light-yellow: khaki;
  --color-soft-grey: #6161614d;
  --color-white-text: #fafafa;
  --color-black-text: #4a4a4a;
  --set-shadow: 0px 0px 3px .1px var(--color-shadow);

  --color-menu: #343842;
  --color-menu-darker: #2e323b;
  --color-menu-text-color: #a0a2a8;
  --color-active: var(--color-blue);
  --font-code: "Fira Mono", "Fira Sans", 'Courier New', Courier, monospace;
  --font-site: 'Open Sans', "Segoe UI", 'M PLUS 1', 'Trebuchet MS', "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.light-mode:root {
  --bouer-black: #494a47;

  --color-text: #5a5a5a;
  --color-text-weak: #7a7a7a;
  --color-border: #e2e2e2;
  --color-soft-border: #bbb;
  --color-bg-lighter: #fcfcfc;
  --color-bg: #fafafb;
  --color-light-grey: #ececec;
  --color-logo-text: #444;
  --color-shadow: #e5e5e5;
  --color-menu: #343842;
  --color-disable: #efefef;
  --color-smooth-transparency: #f0f0f5f5;
  --color-popup: #fafafa;
  --color-row: #ececec;

  --color-doc-menu: #eaeaea;
  --color-doc-menu-darker: #dadada;

  --color-editor-screen: #f6f6f6;
  --color-editor-caret: #343842;
  --color-editor-border: #e9e9e9;
  --color-editor-result-screen: #fcfcfc;

  --color-scroll-thumb: #888;
  --color-scroll-track: #f0f0f080;

  --color-note: #f2f2f2;

  --color-footer: #2e323b;
}

.dark-mode:root {
  --bouer-black: #909398;

  --color-text: #babcb9;
  --color-border: #363636;
  --color-soft-border: #444;
  --color-bg-lighter: #242526;
  --color-bg: #1c1c1d;
  --color-light-grey: #3a3b3c;
  --color-logo-text: #b0b3b8;
  --color-menu-icon: #777;
  --color-shadow: #2c2c2c;
  --color-menu: #242526;
  --color-disable: #3a3b3c;
  --color-smooth-transparency: #3a3b3c80;
  --color-popup: #3c3c3c;
  --color-row: #3a3b3c;

  --color-doc-menu: #373839;
  --color-doc-menu-darker: #343536;

  --color-editor-screen: #1f1f1f;
  --color-editor-caret: #aaaaaa;
  --color-editor-border: #3f3f3f;
  --color-editor-result-screen: #f8f8f8;

  --color-scroll-thumb: #888;
  --color-scroll-track: #3a3b3c80;

  --color-note: #515151;

  --color-footer: #3a3b3c;
}

.light-mode .CodeMirror .CodeMirror-code .cm-tag {
  color: #905 !important;
}

.dark-mode .CodeMirror .CodeMirror-code .cm-tag {
  color: #569Cd6 !important;
}

.CodeMirror .CodeMirror-code .cm-tag.cm-bracket {
  color: #808080 !important;
}

.light-mode .CodeMirror .CodeMirror-code .cm-string {
  color: #690;
}

.dark-mode .CodeMirror .CodeMirror-code .cm-string {
  color: #ce9178;
}

.dark-mode .CodeMirror .CodeMirror-code .cm-atom {
  color: #ce9178;
}

.dark-mode .CodeMirror .CodeMirror-code .cm-property {
  color: #9cdcfe;
}

.light-mode .CodeMirror .CodeMirror-code .cm-comment {
  color: #008000 !important;
}

.dark-mode .CodeMirror .CodeMirror-code .cm-comment {
  color: #6a9955 !important;
}

.light-mode .CodeMirror .CodeMirror-code .cm-attribute {
  color: #856e3d !important;
}

.dark-mode .CodeMirror .CodeMirror-code .cm-attribute {
  color: #9cdcfe !important;
}

.dark-mode .CodeMirror .CodeMirror-gutter {
  background-color: var(--color-bg-lighter);
}

.dark-mode .CodeMirror .CodeMirror-cursors .CodeMirror-cursor {
  border-color: var(--color-text);
}

.CodeMirror.cm-s-default .cm-def {
  color: #8fc4df;
}

.dark-mode .CodeMirror.cm-s-default .cm-variable {
  color: #dcdcaa;
}

.dark-mode .CodeMirror.cm-s-default .cm-qualifier {
  color: #69a5c5;
}

.dark-mode .CodeMirror.cm-s-default .cm-keyword {
  color: #569Cd6;
}

.dark-mode .CodeMirror.cm-s-default .cm-number {
  color: #b5cea8;
}

.light-theme .CodeMirror.cm-s-default span[role="presentation"] {
  color: var(--color-text);
}

.dark-mode .CodeMirror.cm-s-default span[role="presentation"] {
  color: #d4d4d4;
}

.dark-mode .CodeMirror.cm-s-default .CodeMirror-cursor {
  border-color: #d4d4d4;
}

.dark-mode .CodeMirror-gutters {
  border-color: var(--color-black-text);
}

.dark-mode .CodeMirror-selected {
  background-color: #569cd629 !important;
}

.dark-mode .CodeMirror.cm-s-default .CodeMirror-simplescroll-vertical div,
.dark-mode .CodeMirror.cm-s-default .CodeMirror-simplescroll-horizontal div {
  background-color: var(--color-scroll-thumb);
}

.dark-mode .CodeMirror.cm-s-default .CodeMirror-simplescroll-vertical,
.dark-mode .CodeMirror.cm-s-default .CodeMirror-simplescroll-horizontal {
  background-color: var(--color-scroll-track);
}

.light-mode pre code .tag>.attr-value {
  color: #6a9955;
}

.light-mode pre code .tag>.attr-name {
  color: #856e3d;
}

.light-mode pre code .token.comment {
  color: #6a9955;
}

.dark-mode pre code .tag {
  color: #569Cd6;
}

.dark-mode pre code .tag>.attr-value {
  color: #ce9178;
}

.dark-mode pre code .tag>.attr-name {
  color: #9cdcfe;
}

.dark-mode pre code .token.comment {
  color: #6a9955;
}

.dark-mode pre code .token.class-name {
  color: #4ec9b0;
}

.dark-mode pre code .token.string {
  color: #ce9178;
}

.dark-mode pre code .token.literal-property.property {
  color: #9cdcfe;
}

.dark-mode pre code .token.string-property.property {
  color: #ce9178;
}

pre code .token.operator {
  background-color: transparent;
}

.dark-mode pre code .token.operator {
  color: #d4d4d4;
}

.dark-mode pre code .token.boolean {
  color: #569Cd6;
}

.dark-mode pre code .token.function-variable,
.dark-mode pre code .token.function {
  color: #dcdcaa;
}

body {
  background-color: var(--color-bg);
}

hr {
  margin-top: 35px;
  border: 1px solid var(--color-disable);
}

#bouer-app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
}

.flex-it {
  display: flex;
}

.blur-it {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}

.hide-it {
  display: none !important;
}

.flex-center {
  margin: auto;
}

.flex-center {
  margin: auto;
}

.flex-middle-right {
  margin: auto 0 auto auto;
}

.card {
  background-color: var(--color-bg-lighter);
  box-shadow: var(--set-shadow);
  border-radius: 8px;
  padding: 10px;
}

.is-in-development {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #f0ec8e;
  z-index: 150;
  text-align: center;
  padding: 8px 0;
  color: var(--color-black-text);
}

.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: var(--color-bg-lighter);
}

nav {
  position: relative;
  box-shadow: 0px 1px 3px .1px var(--color-shadow);
  display: flex;
  z-index: 120;
  height: 50px;
}

nav>a {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14pt;
}

nav>div {
  flex: 1;
  display: flex;
  flex-flow: column;
}

nav ul>li {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}

nav ul {
  right: 25px;
  font-size: 12pt;
  list-style: none;
  margin: auto 20px auto auto;
}

nav ul>li .dot {
  font-size: 9pt !important;
  margin: 0 2px;
}

nav>div>* {
  margin: auto 20px auto auto;
}

nav ul>li .fa {
  font-size: 14pt;
  color: var(--color-text);
}


nav ul>li>svg,
nav ul>li>span {
  color: var(--color-text);
}

nav ul>li {
  position: relative;
}

nav ul>li .wrapper {
  position: absolute;
  background-color: var(--color-bg);
  box-shadow: var(--set-shadow);
  border-radius: 5px;
  padding: 6px;
  color: var(--color-text);
  top: 26px;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
}

nav ul>li .wrapper .item {
  display: flex;
  padding: 6px;
  margin: 3px;
  border-radius: 4px;
  transition: background-color .4s;
}

nav ul>li .wrapper .item:hover {
  background-color: var(--color-row);
}

nav ul>li .wrapper .item .ident {
  width: 35px;
}

nav ul>li:hover {
  background-color: var(--color-row);
  transition: background-color .4s;
}

nav>div .top-menu-handler {
  height: 60px;
  display: flex;
  display: none;
}

nav>div .top-menu-handler .menu-btn-container {
  margin: auto;
}

.menu-container {
  position: relative;
}

.active-item,
.menu-container ul li .active-link {
  color: var(--color-active);
  text-shadow: 0px 0px 1px var(--color-shadow);
}


a.active-doc-menu,
a.active-doc-menu * {
  color: var(--color-blue) !important;
}

.text-center {
  text-align: center;
}

.center-content {
  margin: auto;
  display: flex;
}

.center-icon {
  position: relative;
}

.center-icon::before {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.download-btn {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  font-size: 11pt;
  color: var(--color-white-text);
}

#bouer-app>main {
  flex: 1;
  display: flex;
  overflow-y: auto;
  margin-top: 50px;
}

.page {
  display: flex;
  z-index: 1;
  flex: 1;
}

.banner {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 410px;
}

.banner .top {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.banner .top .logo {
  position: relative;
  font-size: 80pt;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bouer-black);
  font-weight: 600;
}

.banner .top .logo .wrapper {
  background-color: var(--bouer-black);
  width: 63pt;
  height: 63pt;
  border-radius: 50%;
  top: 10pt;
  position: relative;
  border: 4px solid var(--bouer-blue);
}

.dark-mode .banner .top .logo .wrapper {
  background-color: var(--color-bg-lighter);
}

.banner .top .logo .wrapper .yellow {
  color: var(--bouer-yellow);
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  /* top: 0pt; */

}

.banner .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 30px;
}

.banner .bottom p {
  font-weight: 300;
  font-size: 20pt;
  padding-bottom: 10px;
  text-align: center;
}

.btn-like {
  padding: 8px 20px;
  border-radius: 25px;
  display: inline-block;
}

.btn-like:hover {
  background-color: transparent;
  color: var(--color-text);
}

.nav-actions {
  padding: 15px 0;
}

.nav-actions .btn-like {
  margin: 2px 6px;
}

.nav-actions .btn-like:first-child {
  box-shadow: 0 0 .8px .2px var(--bouer-yellow);
  background-color: var(--bouer-yellow);
  color: var(--color-black-text);
}

.nav-actions .btn-like:last-child {
  background-color: var(--color-light-grey);
  box-shadow: 0 0 .8px .2px var(--color-light-grey);
}

.page {
  display: flex;
  flex-direction: column;
}

.page-section-space {
  margin: 20px 0;
}

/* Card setup */
.card-container {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.card {
  color: var(--color-text);
  width: 300px;
  height: 165px;
  margin: 10px 20px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 0px 3px .1px var(--color-soft-border);
  display: inline-block;
  background-color: var(--color-bg-lighter);
  border-top: 3px solid transparent;
}

.card>div {
  padding: 8px 20px;
}

.card .head .title {
  font-size: 18pt;
}

.card .body p {
  text-align: left;
  font-size: 12pt;
  line-height: 18pt;
}

/* Main Page Card setup */
.card:nth-child(1) {
  border-color: tomato;
}

.card:nth-child(2) {
  border-color: lightblue;
}

.card:nth-child(3) {
  border-color: khaki;
}

.card-section {
  padding: 40px 0;
}

.main-page-description {
  margin: 0 20%;
  line-height: 30px;
  font-size: 12.5pt;
}

.middle-content {
  padding: 40px 0;
}

.middle-content .center-content {
  flex-flow: column;
}

.middle-content .center-content .main-text {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-page-editor-container {
  padding: 65px 10%;
  display: flex;
}

.main-page-editor-container .description {
  display: flex;
  margin: 10px;
  width: 360px;
  color: var(--color-text);
}

.main-page-editor-container .description>div {
  margin: auto;
}

.main-page-editor-container .description>div>h2 {
  margin: 8px 0;
}

.main-page-editor-container .description>div>p {
  font-size: 12pt;
  line-height: 18pt;
}

.main-page-description {
  margin: 0 20%;
  line-height: 30px;
}

.editor-divider {
  background-color: var(--color-smooth-transparency);
}

/* Main page footer style */
.bottom-content {
  padding: 25px;
  background-color: var(--color-footer);
  display: flex;
}

.bottom-content p {
  color: var(--color-white-text);
}

.bottom-content p>a>b {
  color: var(--color-white-text);
}

/* Documentation page */
.documentation {
  flex-direction: row;
}

.tutorial .menu,
.documentation .menu {
  position: relative;
  width: 340px;
  background-color: var(--color-doc-menu);
}

.tutorial .menu .items,
.documentation .menu .items {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30px;
  overflow-y: auto;
  padding-top: 30px;
  padding-left: 25px;
  scroll-behavior: smooth;
}

.tutorial .menu .items li,
.documentation .menu .items li {
  padding: 4px 6px;
  margin: 3px 1px;
  list-style: none;
  font-size: 11.5pt;
}

.menu .items li a {
  display: block;
  transition: color .2s;
}

.menu .items li a:hover {
  color: var(--color-active);
  text-shadow: 0px 0px 1px var(--color-shadow);
}

.documentation .view {
  flex: 1;
  position: relative;
}

.documentation .view .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.page .view .navigator,
.page .view .section {
  border-top: 2px solid var(--color-border);
  color: var(--color-text);
  position: relative;
  max-width: 810px;
  font-size: 12pt;
}

.documentation .view .section {
  margin: 0px 80px;
}

.page .section p {
  margin: 20px 0;
  font-size: 12pt;
  line-height: 18pt;
}

.page .section h1 {
  margin: 25px 0;
  margin-top: 35px;
}

.page .section h1 a {
  font-size: 16pt;
  font-weight: 400;
  position: relative;
}

.page .section h1 a>i {
  transform: translateY(-50%);
  transition: color .2s;
  position: absolute;
  font-size: 11.5pt;
  top: 58%;
  left: -22px;
}

.page .section h1 a:hover i {
  color: var(--color-blue);
}

.page .section h2 a {
  font-weight: 600;
  font-size: 14pt;
}

.page .section h3 a {
  font-weight: 600;
  font-size: 12pt;
}

.page .section h4 a {
  font-weight: 500;
  font-size: 12pt;
}

.page .section h2,
.page .section h3,
.page .section h4 {
  margin: 15px 0;
  margin-top: 35px;
}

.page .section:last-child {
  margin-bottom: 50px;
}

.page .section ul {
  list-style: circle;
  margin-left: 2%;
}

.page .section ol {
  margin-left: 2%;
}

.page .section ul li,
.page .section ol li {
  margin: 10px 0;
  line-height: 26px;
}

.page .section .result input,
.page .section .result select,
.page .section .result textarea,
.page .section .result button,
.page .section .result textarea {
  border: 1px solid var(--color-border);
  padding: 2px 4px;
  border-radius: 4px;
  margin: 4px 0;
  font-size: 10pt;
  background-color: var(--color-bg);
}

.page .section .result select,
.page .section .result input {
  padding: 4px 8px;
}

.page .section .result button {
  padding: 6px 12px;
}

.page .section .result textarea {
  resize: none;
}

.page .section .result ul {
  list-style: disc;
}

.page .section .result h1,
.page .section .result h2,
.page .section .result h3,
.page .section .result h4,
.page .section .result h5 {
  margin: 4px 0;
}

.page .section .result ul li {
  margin: 0;
}

.page .section .result p {
  margin: 4px 0;
}


.page .view .navigator {
  border-top: none;
  display: flex;
  padding: 30px 0;
}

.page .view .navigator * {
  color: var(--color-text);
}

.page .view .navigator>div {
  display: flex;
  justify-content: center;
}

.page .view .navigator .left,
.page .view .navigator .right {
  flex: 1;
}

.page .view .navigator .middle {
  flex: 2;
}

.page .view .navigator .left a,
.page .view .navigator .right a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page .view .navigator .left a span,
.page .view .navigator .right a span {
  flex: 1;
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.page .view .navigator .middle small a {
  color: var(--color-blue);
  font-weight: 500;
}

.page .view .navigator a * {
  font-size: 13pt;
}

.page .view .navigator a span {
  transition: color .2s;
}

.page .view .navigator a i {
  margin: 0 10px;
}

.page .view .navigator a:hover span {
  color: var(--color-blue);
}

.result {
  padding: 18px 0;
  margin-bottom: 20px;
}

.result>* {
  margin: 0 28px;
}

.documentation .view .section .result li {
  margin: 0;
  line-height: 20px;
}

.keep-reading {
  max-width: 810px;
  display: flex;
  padding: 40px 0;
}

.keep-reading>div {
  flex: 1;
}

.keep-reading>div:first-child {
  text-align: left;
}

.keep-reading>div:last-child {
  text-align: right;
}

.keep-reading h3 {
  display: inline;
}

.keep-reading .text {
  margin: 0 6%;
}

.keep-reading a:hover * {
  color: var(--color-blue) !important;
  transition: color .3s;
}

.menu-btn-container .menu-btn {
  border-radius: 50%;
  border: 2.5px solid var(--color-light-grey);
  position: relative;
  cursor: pointer;
  height: 34px;
  width: 34px;
  margin: auto;
}

.menu-btn-container .menu-btn span,
.menu-btn-container .menu-btn span::after,
.menu-btn-container .menu-btn span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background-color: var(--color-menu-text-color);
  height: 2px;
  width: 10px;
  border-radius: 8px;
  transition: width .4s;
}

.menu-btn-container .menu-btn span::before {
  margin-top: -6px;
}

.menu-btn-container .menu-btn span::after {
  margin-top: 6px;
}

.documentation .view .section .code-container {
  margin: 20px 0;
}

.result,
pre {
  margin: 10px 0;
  overflow-y: hidden;
  background-color: var(--color-editor-screen);
  border: 2px solid var(--color-editor-border);
  border-radius: 5px;
  position: relative;
  max-width: 740px;
  font-family: var(--font-code);
}

pre code {
  font-family: var(--font-code);
  display: block;
}

pre code,
.result {
  overflow-y: hidden !important;
  overflow-x: auto;
  max-width: 740px;
  line-height: 18px;
  font-size: 9.5pt;
}

.result {
  font-size: 10.5pt;
}

.code-style,
.code-style *,
pre code * {
  font-family: var(--font-code);
}

.code-style,
.code-style * {
  font-size: 9.5pt !important;
}

pre code::after,
.result::after,
.block-note::after {
  content: attr(lang);
  position: absolute;
  color: var(--color-text);
  text-align: right;
  font-size: 0.9em;
  font-weight: 400;
  height: 15px;
  right: 8px;
  top: 2px;
}

.result::after,
.block-note::after {
  padding: 3px 10px;
  line-height: 15px;
  font-size: 0.8em;
  right: 0;
  top: 0;
}

.note {
  background-color: var(--color-note);
  font-size: 10.5pt;
  padding: 0px 6px;
  border-radius: 3px;
  word-break: break-word;
  display: inline flow-root;
  border: 1px solid transparent;
  margin: 1px 0;
}

.mark {
  color: var(--color-blue);
}

.block-note::after {
  content: "( i )";
  font-weight: 500;
  color: var(--color-blue);
  font-family: initial;
}

.block-note {
  margin: 30px 0;
  padding: 3px 0;
  max-width: 546px;
  border-radius: 6px;
  background-color: var(--color-smooth-transparency);
  border: 1px solid transparent;
  position: relative;
  border-left-width: 3px;
}

.block-note>* {
  display: block;
  margin: 14px 14px !important;
  font-size: 10pt;
}

pre.info,
.block-note.info {
  border: 1px solid var(--note-green);
}

pre.warn,
.block-note.warn {
  border: 1px solid var(--note-yellow);
}

pre.dont,
.block-note.dont {
  border: 1px solid var(--note-red);
}

.attr-border.note {
  border-color: var(--note-red);
}

.warn-border.note {
  border-color: var(--note-yellow);
}

.info-border.note {
  border-color: var(--note-green);
}

.color-red {
  color: var(--note-red);
}

.function-keys {
  position: relative;
}

.function-keys>span {
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 1.4px var(--color-border);
  color: transparent;
  margin: 0 2px;
  margin-top: 4px;
  font-size: 9pt;
  height: 18px;
  width: 18px;
}

.function-keys>span:hover {
  transition: color .4s;
  color: #fafafa;
}

.function-keys .bg-add {
  background-color: var(--color-green);
}

.function-keys .bg-min {
  background-color: var(--color-yellow);
}

.function-keys .bg-close {
  background-color: var(--color-red);
}

.function-keys .bg-edit {
  background-color: var(--color-blue);
}

.function-keys>span {
  position: relative;
}

.function-keys>span:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.side-menu-handler {
  position: fixed;
  display: none;
  bottom: 30px;
  right: 13px;
  z-index: 110;
}

.side-menu-handler .menu-btn {
  background-color: var(--color-light-grey);
  box-shadow: 1px 1px 1px .1px var(--color-border);
  border: 1px solid var(--color-border);
}

/* For documentation menu */
.side-menu-opened {
  left: 0 !important;
}

/* For tutorial menu */
.side-menu-closed {
  left: -1000% !important;
}

ul.top-menu-opened {
  display: unset !important;
}

.side-menu-handler .menu-btn {
  border-color: var(--color-border);
}

.translate-icon {
  top: 4px;
  position: relative;
}

.popup-container {
  position: fixed;
  max-height: 430px;
  overflow-y: auto;
  padding: 0 5px;
  width: 380px;
  z-index: 102;
  bottom: 10px;
  right: 10px;
}

.popup-container .popup {
  background-color: var(--color-bg-lighter);
  box-shadow: var(--set-shadow);
  display: flex;
  min-height: 60px;
  max-height: 80px;
  border-radius: 6px;
  overflow: hidden;
  margin: 10px 0;
  user-select: none;
}

.popup-container .popup .fa-warning {
  color: var(--color-yellow);
}

.popup-container .popup .fa-info-circle {
  color: var(--color-blue);
}

.popup-container .popup .fa-times-circle {
  color: var(--color-red);
}

.popup-container .popup .fa-check-circle {
  color: var(--color-green);
}

.popup-container .popup .icon {
  width: 65px;
  font-size: 22pt;
}

.popup-container .popup .message {
  color: var(--color-text);
  display: flex;
  padding: 5px;
  flex: 1;
}

.popup-container .popup .message p {
  overflow-y: auto;
  max-height: 70px;
  vertical-align: middle;
  margin: auto 0;
}

.popup-container .popup .close {
  color: var(--color-text);
  cursor: pointer;
  font-size: 16pt;
  display: flex;
  width: 35px;
}

.popup-container .popup .close span {
  margin: 0 auto;
  margin-top: 7.5px;
  display: inline-block;
}

.popup-container .popup .close span:hover {
  color: var(--color-red);
}

.container-404>div {
  margin: 10px 0;
}

.unavailable-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unavailable-section .page-icon {
  display: flex;
  justify-content: center;
  font-size: 32pt;
}

.unavailable-section .page-icon h1 {
  display: flex;
  align-items: center;
}

.unavailable-section .page-icon span {
  background-color: var(--bouer-black);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 48pt;
  margin: 0 4px;
  margin-top: 10px;
  border: 4px solid var(--bouer-blue);
}

.unavailable-section .page-icon span i {
  color: var(--bouer-yellow);
  position: relative;
  top: -3px;
  font-weight: bolder;
}

.tutorial,
.playground {
  flex-direction: row;
}

.tutorial .left-view,
.playground .left-view {
  flex: 1;
  background-color: var(--color-doc-menu);
  display: flex;
  flex-direction: column;
}

.playground .left-view {
  padding: 40px 20px;
  min-width: 250px;
}

.tutorial .left-view {
  min-width: 580px;
}

.playground .left-view h3 {
  height: 60px;
  display: flex;
  align-items: center;
}

.playground .left-view .examples-container {
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.playground .left-view .examples-container .item {
  display: flex;
  flex-direction: column;
  background-color: var(--color-shadow);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 8px 16px;
  color: var(--color-text);
  cursor: pointer;
  margin: 8px 0;
}

.playground .left-view .examples-container .item:active {
  background-color: var(--color-doc-menu);
}

.playground .left-view .examples-container .item small {
  font-size: 9pt;
  color: var(--color-text-weak);
}

.page .right-view {
  flex: 4;
  background-image: url(../images/spinner.svg);
  background-size: 55px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
}

.page .right-view::before {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: 'Loading the Editor...';
}

.page .right-view.error {
  background-image: unset;
}

.page .right-view.error::before {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '😵 Error loading the Example!';
}

.page .right-view.error::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -200px;
  min-height: 50px;
  max-height: 150px;
  content: '( i ) [Error]: Something went wrong while loading the example, try to reload the page or select another example!';
  background-color: #e93434;
  color: var(--color-white-text);
  display: flex;
  align-items: center;
  padding: 0 40px;
  font-size: 11pt;
  animation: slide-up .4s ease forwards;
}

/* Examples css */

/* End Examples css */

.tutorial .left-view .header-content {
  display: flex;
  height: 50px;
  border-bottom: 1px solid var(--color-border);
}

.tutorial .left-view .header-content div {
  flex: 1;
}

.tutorial .left-view .header-content .prev,
.tutorial .left-view .header-content .next {
  flex: unset;
  width: 50px;
  font-size: 16pt;
  display: flex;
}

.tutorial .left-view .header-content .fa {
  margin: auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: var(--color-text);
  background-color: transparent;
  transition: background-color .2s;
  cursor: pointer;
}

.tutorial .left-view .header-content .fa:active {
  color: var(--color-active);
}

.tutorial .left-view .header-content .menu-btn-container {
  flex: unset;
  display: flex;
  margin-right: 8px;
}

.tutorial .left-view .header-content .menu-btn-container .menu-btn {
  border: 2.5px solid var(--color-menu-text-color);
}

.tutorial .left-view .header-content .fa:hover {
  background-color: var(--color-border);
}

.tutorial .left-view .header-content .dir {
  display: flex;
  padding: 0 5px;
}

.tutorial .left-view .header-content .dir * {
  margin: auto 0;
}

.tutorial .left-view .body-content {
  flex: 1;
  position: relative;
}

.tutorial .left-view .body-content .content-to {
  position: absolute;
  top: 5px;
  left: 8px;
  bottom: 5px;
  right: 0;
}

.tutorial .section {
  padding: 15px 35px;
}

.tutorial .left-view .body-content .view .navigator {
  border-top: 2px solid var(--color-border);
}

.tutorial .left-view .footer-content {
  display: none;
  align-items: center;
  justify-content: center;
}

.tutorial .side-menu-opened.left-view .footer-content {
  display: flex;
}

.tutorial .left-view .footer-content button {
  background-color: var(--color-bg);
  width: 115px;
  margin: 10px 0;
  border: 1px solid var(--color-border);
  padding: 4px 4px;
  border-radius: 4px;
  margin: 4px 0;
  font-size: 10pt;
  background-color: var(--color-bg);
}

.tutorial .menu {
  background-color: var(--color-doc-menu-darker);
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 5;
  border-radius: 4px;
  border: 1px solid var(--color-soft-border);
}

/* Animations classes */
.loading {
  position: fixed;
  z-index: 180;
  height: 4px;
  width: 0%;
  top: 0;
  background-color: #3178c6;
  animation: progress-bar 4s ease forwards,
    fade-it 1.2s 4.5s ease infinite;
}

.blink {
  animation: fade-it 1s infinite;
  -webkit-animation: fade-it 1s infinite;
}

@keyframes slide-up {
  to {
    bottom: 0;
  }
}

@-webkit-keyframes progress-bar {
  to {
    bottom: 0;
  }
}

@keyframes progress-bar {
  to {
    width: 100%;
  }
}

@-webkit-keyframes progress-bar {
  to {
    width: 100%;
  }
}

@keyframes fade-it {
  from {
    opacity: 1.0;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1.0;
  }
}

@-webkit-keyframes fade-it {
  from {
    opacity: 1.0;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1.0;
  }
}

/* End Animations classes */

@media (max-width: 390px) {
  .middle-content .center-content .nav-actions {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .middle-content .center-content .nav-actions a {
    margin: 10px 0;
  }
}

@media (max-width: 450px) {
  .card-container {
    display: flex;
    flex-flow: column;
  }

  .card-container .card {
    width: unset;
  }
}

@media (max-width: 530px) {
  .main-page-editor-container {
    padding: 65px 30px;
    padding-bottom: 20px;
  }

  .documentation .view .navigator {
    flex-direction: column;
  }

  .documentation .view .navigator>div {
    padding: 10px 46px;
  }

  .page.tutorial .left-view {
    min-width: unset !important;
  }

  .page.tutorial .left-view .section {
    padding: 15px 20px;
  }

  .page.playground .left-view {
    min-width: unset !important;
    max-width: unset !important;
  }
}

@media (max-width: 600px) {
  .main-page-description {
    margin: 0 10%;
  }

  .banner .top .logo {
    font-size: 55pt;
  }

  .banner .top .logo .wrapper {
    width: 43pt;
    height: 43pt;
    top: 6pt;
    position: relative;
    border: 4px solid #3178c6;
  }

  .card {
    width: 260px;
    height: 170px;
    margin: 10px 20px;
  }

  .card>div {
    padding: 8px 20px;
  }

  .card .head .title {
    font-size: 16pt;
    margin-top: 5px;
  }

  .page.documentation .view .section {
    padding: 15px 35px;
  }
}

@media (max-width: 700px) {
  .editor-divider {
    padding: 0;
  }

  .app-modal .modal {
    width: unset;
    margin: unset;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }

  .app-modal .modal .modal-body {
    overflow-y: auto;
    height: 80vh;
  }

  .left-view {
    position: absolute;
    z-index: 100;
    transition: left .4s;
    left: -1000%;
    bottom: 0;
    top: 50px;
    min-width: 250px;
    max-width: 335px;
  }

  .page.tutorial .left-view {
    min-width: unset;
    max-width: unset;
    width: 100%;
  }
}

@media (max-width: 900px) {
  nav>div>ul>li {
    display: block;
    text-align: center;
    margin: 5px auto;
  }

  nav>div .top-menu-handler {
    display: flex;
  }

  .menu-container>ul {
    position: absolute;
    background-color: var(--color-bg-lighter);
    top: 65px;
    right: 0;
    border-radius: 6px;
    box-shadow: var(--set-shadow);
    display: none;
  }

  .menu-container>ul>li {
    margin: 8px;
    padding: 6px 14px;
  }
}

@media (max-width: 1000px) {

  .documentation .view .navigator,
  .documentation .view .section {
    margin: 0;
  }

  .documentation .view .section {
    padding: 15px 46px;
  }

  .side-menu-handler {
    display: unset;
  }

  .documentation .menu {
    position: absolute;
    z-index: 100;
    transition: left .4s;
    left: -1000%;
    bottom: 0;
    top: 50px;
    min-width: 250px;
    max-width: 335px;
  }

  .tutorial .left-view {
    position: absolute;
    z-index: 100;
    transition: left .4s;
    left: -1000%;
    bottom: 0;
    top: 50px;
    min-width: unset;
  }
}

@media (max-width: 1275px) {
  .editor-divider .main-page-editor-container .description {
    width: unset;
    margin: 20px auto;
  }

  .editor-divider .main-page-editor-container {
    flex-flow: column;
  }

  .page.tutorial .left-view {
    min-width: 480px;
  }
}

/* Styling the scroll-bar */
/* For Mozilla */
pre code,
.result,
.popup-container,
.nice-scroll,
#bouer-app>main {
  scrollbar-color: var(--color-scroll-thumb) var(--color-scroll-track);
  scrollbar-width: thin;
  overflow-y: auto;
}

/* For Chrome and Others */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--color-scroll-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-thumb);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroll-track);
  opacity: .9;
}

/* Styling the scroll-bar */