<tutorial-wrapper data="$mixin({ ex: 'congrats' }, $root)">
  <section class="section">

    <h2 style="text-align: center;">Congratulations!</h2>

    <p>
      You've now finished the <i class="note mark">Bouer</i> tutorial and are ready to start building simple apps.
      You can refer back to individual chapters at any time (click the <i class="note mark">menu</i>).
    </p>

    <p>
      If you want to keep learning, your can do via:
    </p>

    <ul>
      <li>
        <a :href="/docs/installation.html" class="mark">Documentation</a> - here we have all topic covered with more
        details.
      </li>
      <li>
        <a :href="/play.html" class="mark">Playground</a> - here we have the editor provide and we joined together all
        the example.
      </li>
      <li>
        <a :href="/docs/introduction.html#intro-quick-start" class="mark">Quick Start</a> - Set up a real <i
          class="note mark">Bouer</i> project on your machine.
      </li>
    </ul>
  </section>
</tutorial-wrapper>