<tutorial-wrapper data="$mixin({ ex: 'introduction' }, $root)">
  <section class="section">
    <p>
      Welcome to the Bouer tutorial. This will provide you a everything you need to build fast and simple web
      applications easily.
    </p>

    <p>
      You can also consult the <a :href="/docs/introduction.html" class="mark">Docs</a> and/or the
      <a :href="/play.html" class="mark">Playground</a> where you can find some example and play with.
    </p>

    <h3> Prerequisites </h3>
    <p>
      The tutorial assume that you are already familiar with <a class="mark" title="Learn HTML" target="_blank"
        href="https://developer.mozilla.org/docs/Learn/HTML/Introduction_to_HTML">HTML</a>,
      <a class="mark" title="Learn Javascript" target="_blank"
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript">Javascript</a>
      and <a class="mark" title="Learn CSS" target="_blank"
        href="https://developer.mozilla.org/docs/Learn/CSS/First_steps">CSS</a> (Optional). We are going to show
      some examples the make your understanding easier. If you are totally new to front-end development, it might not
      be the best idea to get into to the lib as your first step... We advise you to be aware of them and then come
      back to continue.
    </p>

    <h3> What is Bouer.js? </h3>
    <p>
      <b>Bouer</b> is a javascript library for building user interfaces, and helps in web applications development,
      providing a synchronous interaction between user interfaces and Javascript data.
    </p>

    <h3> Understanding Bouer </h3>
    <p>
      In <b>Bouer</b> we have a <i class="note">main</i> instance were we provided the options of the app and
      components instances. A component is a reusable block of code that encapsulates HTML, CSS and JavaScript that
      belong together, it's written in <i class="note mark"><i>.</i>html</i>.
    </p>
  </section>
</tutorial-wrapper>