<div class="page documentation">
  <menu-cli-docs data></menu-cli-docs>
  <aside class="view nice-scroll">
    <div class="content">
      <section class="section">
        <h1> <a id="development"> Development </a> </h1>

        <p>
          Bouer CLI uses Webpack to launch and build the projects, among the following presets @babel/preset-env to be
          able to process the files in your project.
        </p>

        <h3> <a id="html-assets"> HTML and Static Assets </a> </h3>
        <p>
          The file <i class="note mark">index.html</i> is starting point of the application, after the compilation, the
          main .js, containing all the logic of your application will be added automatically in this file.
        </p>

        <p>
          All the assets that needs to be imported in the main file we just need to import, the <i
            class="note mark">base</i> tag will resolve the path of the files according to the valie provided in the <i
            class="note mark">href</i> attribute.
        </p>

        <h3> <a id="working-webpack"> Working with Webpack </a> </h3>

        <p>
          The CLI uses webpack to build the project, it combines all the <i class="note">.js|.ts</i> files into one and
          keep the structure of other files, like <i class="note">.html</i> <i class="note">.css</i> or <i
            class="note">.scss</i>, and the assets. The files are requested only when they need to be used (if
          <i class="note">prefetch == <span class="mark">false</span></i>, we can find it in <a
            :href="/docs/instance.html#properties" class="mark">Bouer Instance Properties</a> - for global or <a
            :href="/docs/components.html#component-registering" class="mark">Component Properties</a> - for specific).
        </p>

        <p>
          In this scenario:
        </p>

        <div e-skip>
          <pre><code lang="txt">
    |_ 📁 src
      |_ 📁 assets
      |   |_ 🖼️ logo.svg
      |   |_ 🖼️ main.png

      |_ 📁 routes
      |   |_ 📁 home
      |     |_ 📄 home.html
      |     |_ 📊 home.scss
      |     |_ 📜 home.ts

      |   |_ 📁 about
      |     |_ 📄 about.html
      |     |_ 📊 about.scss
      |     |_ 📜 about.ts

      |_ 📄 index.html
      |_ 📊 main.scss
      |_ 📜 index.ts
              </code></pre>
        </div>

        <p>
          The build result will like this:
        </p>

        <div e-skip>
          <pre><code lang="txt">
    |_ 📁 dist
      |_ 📁 assets
      |   |_ 🖼️ logo.svg
      |   |_ 🖼️ main.png

      |_ 📁 routes
      |   |_ 📁 home
      |     |_ 📄 home.html
      |     |_ 📊 home.css

      |   |_ 📁 about
      |     |_ 📄 about.html
      |     |_ 📊 about.css

      |_ 📄 index.html
      |_ 📊 main.css
      |_ 📜 main.js <!-- combined .js -->
              </code></pre>
        </div>

        <p>
          Note that the structure maintained and all the <i class="note">.ts</i> was combined to <i
            class="note">main.<span class="mark">js</span></i> and all the <i class="note">.scss</i> was transformed to
          <i class="note">.css</i>.
        </p>

        <p>
          By default the CLI has it own <i class="mark">webpack.config.js</i> that is used to build and run the project,
          but it can be overwritten by creating a new <i class="mark">webpack.config.js</i>, in case of using both, by
          merging it, use the command <i class="note mark">--mix-config</i> when starting your app.
        </p>

        <pre><code lang="shell">
    bouer run --mix-config webpack.config.js
        </code></pre>

        <div class="block-note warn">
          <p>
            When using <i class="note mark">--mix-config</i> it does not overwrite the existing defined properties, it
            just adds the containing fields. In case of array, like: <i class="note">plugins</i> or <i
              class="note">rules</i> the arrays will be concatenated.
          <div class="block-note warn">
            <p>Avoid repeating configuration, you may use <i class="note">bouer create config <span
                  class="note info-border">--preview</span></i> to preview to cli configuration</p>
          </div>
          </p>
        </div>

        <pre><code lang="shell">
    bouer create config --preview
        </code></pre>

        <p>
          If you want to create this configuration in you project, remove the <i class="note">--preview</i> option.
        </p>

        <pre><code lang="shell">
    bouer create config
        </code></pre>

        <div class="block-note warn">
          <p>
            Make sure to remove all the already defined config, in arrays, to avoid the same configuration to be added
            many times.
          </p>
        </div>

      </section>

      <section class="navigator">
        <div class="left">
          <a class="next" :href="/cli/create-component.html">
            <i class="fa fa-angle-left"></i>
            <span>Create Comp.</span>
          </a>
        </div>

        <div class="middle">
          <small>
            Help us improve this documentation on github!
            <a href="https://github.com/bouerjs/bouerjs.github.io/blob/main/components/en/cli/development.html"
              title="Take me to Github">Edit this on Github</a>
          </small>
        </div>

        <div class="right">
          <a class="next" :href="/cli/deployment.html">
            <span>Deployment</span>
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </section>
    </div>
  </aside>
</div>