<div class="page documentation">
  <menu-cli-docs data></menu-cli-docs>
  <aside class="view nice-scroll">
    <div class="content">
      <section class="section">
        <h1> <a id="intro"> Introduction </a> </h1>

        <h3> <a id="intro-what"> What is Bouer.js? </a> </h3>
        <p>
          Bouer (pronounced <b>Bauer</b>, meaning <b>Builder</b>) is a javascript library for building user interfaces,
          and helps in web applications development, providing a synchronous interaction between user interfaces and
          Javascript data.
        </p>

        <p>
          Bouer provides a simple way to interact with your HTML by using Reactive Properties, which are
          properties that reacts to changes when they are modified without using <i class="note">Virtual DOM</i>.
          Component-based applications is very easy to be introduced and simple to use, very good and simple to
          build Single Page Application.
        </p>

        <p>
          These documentations assume that you are already familiar with <a class="mark" title="Learn HTML"
            target="_blank" href="https://developer.mozilla.org/docs/Learn/HTML/Introduction_to_HTML">HTML</a>,
          <a class="mark" title="Learn Javascript" target="_blank"
            href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript">JavaScript</a>
          and <a class="mark" title="Learn CSS" target="_blank"
            href="https://developer.mozilla.org/docs/Learn/CSS/First_steps">CSS</a> (Optional).
          We are going to show some examples the make your understanding easier.
        </p>

        <p>
          This page contains detailed API reference documentation. It's intended to be a resource for people who already
          have some familiarity with Bouer and know the full concepts of it.
        </p>

        <p>
          But, you can <a :href="/tutorial/introduction.html" class="mark">Take the Tutorial</a> if you want to have a more
          interactive
          learning session.
        </p>
      </section>

      <section class="navigator">
        <div class="middle">
          <small>
            Help us improve this documentation on github!
            <a href="https://github.com/bouerjs/bouerjs.github.io/blob/main/components/en/docs/introduction.html"
              title="Take me to Github">Edit this on Github</a>
          </small>
        </div>
        <div class="right">
          <a class="next" :href="/docs/installation.html">
            <span>Installation</span>
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </section>
    </div>
  </aside>
</div>